.vscode
.Xil
*.log
*.err
glay.sublime-project
glay.sublime-workspace
nohup.out
vivado.jou  
vivado.log 
vivado_pid*.str
xilinx_* 
00_host/*.err
00_host/*.log
00_host/.vscode
00_host/.Xil
00_host/bin
00_host/build
00_host/glay.sublime-project
00_host/glay.sublime-workspace
00_host/nohup.out
00_host/obj
00_host/results
00_host/vivado.jou  
00_host/vivado.log 
00_host/vivado_pid*.str  
01_device/*.err
01_device/*.log
01_device/.vscode
01_device/.Xil
01_device/glay.sublime-project
01_device/glay.sublime-workspace
01_device/ip/glay_kernel_ex
01_device/nohup.out
01_device/vivado.jou  
01_device/vivado.log 
01_device/vivado_pid*.str   
01_device/xilinx_*
