00_host/obj
00_host/bin
00_host/build
00_host/results
nohup.out
00_host/nohup.out
.vscode
glay.sublime-project
glay.sublime-workspace
01_device/IP/glay_kernel_ex
01_device/vivado.jou  
01_device/vivado.log  
01_device/xilinx_*
